<section class="about" id="about">
    <div class="row">
        <div class="col50">
            <h2 class="titleText"><span>A</span>bout Us</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Maecenas a dui sit amet dui commodo vestibulum eget a turpis. 
                Aenean non congue dolor, at iaculis tortor. 
                Sed vitae vehicula nisl. 
                Aliquam a nibh non tortor blandit finibus. 
                Donec molestie nisl ultricies lacus convallis, eu laoreet sapien accumsan. 
                Vestibulum et nulla lacus. 
                Vivamus maximus bibendum dui sed iaculis. 
                Duis sit amet augue et sem aliquet faucibus a a enim. 
                Quisque aliquet feugiat orci, in tempus ligula placerat vel. 
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                Morbi dapibus ipsum quis urna cursus, vel tempus est tempus. 
                Nulla volutpat nibh sed enim luctus consectetur. 
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Maecenas a dui sit amet dui commodo vestibulum eget a turpis. 
                Aenean non congue dolor, at iaculis tortor. 
                Sed vitae vehicula nisl. 
                Aliquam a nibh non tortor blandit finibus. 
                Donec molestie nisl ultricies lacus convallis, eu laoreet sapien accumsan. 
                Vestibulum et nulla lacus. 
                Vivamus maximus bibendum dui sed iaculis. 
                Duis sit amet augue et sem aliquet faucibus a a enim. 
                Quisque aliquet feugiat orci, in tempus ligula placerat vel. 
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                Morbi dapibus ipsum quis urna cursus, vel tempus est tempus. 
                Nulla volutpat nibh sed enim luctus consectetur. 
            </p>
        </div>
        <div class="col50">
            <div class="imgBx">
                <img src="../../assets/img1.jpg" alt="">
            </div>
        </div>
    </div>
</section>