<section class="contact" id="contact">
    <div class="title">
        <h2 class="titleText"><span>C</span>ontact Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="contactForm">
        <h3>Send Message</h3>
        <div class="inputBox">
            <input type="text" placeholder="Name">
        </div>
        <div class="inputBox">
            <input type="email" placeholder="E-mail">
        </div>
        <div class="inputBox">
            <textarea placeholder="Message"></textarea>
        </div>
        <div class="inputBox">
            <input type="submit" value="Send">
        </div>
    </div>
</section>